<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <h1>stay</h1>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item"></a>
      <a class="navbar-item"></a>
      
      <% if (!user_signed_in?) %>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "新規登録", new_user_registration_path, class: "button is-white" %>
          <%= link_to "ログイン", new_user_session_path, class: "button is-white" %>
        </div>
      </div>
      
      <% else %>
      <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 100px;">
        <a class="navbar-item"><%= current_user.email %></a>
        <div class="navbar-dropdown">
          <a href="" class="navbar-item"></a>
          <a href="" class="navbar-item"></a>
          <hr class="navbar-divider">
          <%= link_to  "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</nav>

<% if (user_signed_in?) %>
    <nav class="navbar has-shadow" style="z-index: 3;">
      <nav class="navbar has-shadow" style="z-index: 3;">
        <div class="container">
            <div class="navbar">
                <%= link_to 'ダッシュボード', dashboard_path, class: "navbar-item" %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">ホスト</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item"></a>
                        <a class="navbar-item"></a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">ゲスト</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item"></a>
                        <a class="navbar-item"></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<% end %>

    </nav>

