<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    <span><i class="fas fa-chess-king" style="color: #ffb400"></i></span>&nbsp;&nbsp;&nbsp;
    <span class="pull-right">1泊 <%= number_to_currency(@room.price) %></span>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <% @reservations.each do |reservation| %>
        <% if reservation.user_id == @user.id %>
         <tr>
            人数 
            <td><%= f.text_field :person %>人</td>
         </tr>
         <tr>
            開始日
            <td><%= f.date_field :start_date %></td>
          </tr>
          <tr>
            終了日 
            <td><%= f.date_field :end_date %></td>
          </tr>
          <tr>
            合計金額
            <td>¥<%= reservation.total %></td>
          </tr>
          <%= f.submit "予約する", class: "button is-danger is-fullwidth m-t-10 m-b-10"  %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

