<div class="reservation_new_content">
    <h1>予約内容入力</h1>
    <div class="reservation_information">
        <%= form_with model: @reservation, url: new_room_reservation_path do |f| %>
        <table>
            <tr>
                <th><%= f.label :start_date, "開始日" %></th>
                <td><%= date_field :start_date, readonly: true %></td>
            </tr>
            <tr>
                <th><%= f.label :end_date, "終了日" %></th>
                <td><%= date_field :end_date, readonly: true %></td>
            </tr>
            <tr>
                <th><%= f.label :person, "人数" %></th>
                <td><%= f.number_field :person %>人</td>
            </tr>
            <tr>
                <th><%= f.label :total, "合計金額" %></th>
                <td><%= f.number_field :total, readonly: true %></td>
            </tr>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.hidden_field :user_id, value: @user %>
        </table>
        <% end %>
    </div>
</div>